.image-row {
    display: flex;
    justify-content: space-around;
}
.image-row img {
    max-width: 30%; /* Adjust the size of the images */
}

body {
    background-color: yellow; /* Test if CSS is loading */
}

h1 {
    background-color: #41BE94
    text-align: center;
    font-weight: bold;
}
